#nav{
    background-color: 	#800080;
}

#edit{
    background-color: #FF0080;
    color: white
}

#form{
    background-color: 	#800080; 
}

.card-header{
    background-color: 	#800080; 
}

.buton{
    background-color: #FF0080;
    color: white  
}