<!-- <div class="fixed-top" style="display:flex; justify-content:start; background-color:blueviolet;text-decoration: none;  color:white">
  <div class="dropdown">
        <button  class="btn btn-purple dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>welcome</span> {{ auth.username }}
               </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a routerLink="/search" class="dropdown-item" href="#">Home</a>
        <a routerLink="/myProposition" class="dropdown-item" href="#">mes proposition</a>
         <a class="dropdown-item" (click)="auth.logOut()" routerLink="/connexion">deconnexion</a> 
      <a routerLink="/useredit" class="dropdown-item">EDIT</a>
    </div>
  </div>
</div> -->
<div id="propose">


<nav id="nav" class="navbar  navbar-dark ">
    <a class="navbar-brand text-white" >Bienvenue {{ auth.username }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
         <span class="navbar-toggler-icon"></span>
     </button>
     <div class="navbar-collapse collapse" id="collapsingNavbar">
         <ul class="navbar-nav">
             <li class="nav-item active">
                 <a class="nav-link" routerLink="/search">Acceuil <span class="sr-only">Home</span></a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" routerLink="/myProposition">Mes Proposition</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" (click)="auth.logOut()" routerLink="/connexion" >Déconnexion</a>
             </li>
         </ul>
         <ul class="navbar-nav ml-auto">
             <li class="nav-item">
                 <a class="nav-link"  routerLink="/useredit" >Modifier Profil</a>
             </li>
         </ul>
     </div>
 </nav>
<div id="propose">


<div style="display:flex; justify-content:center;">
   
    <form id="form" [formGroup]="form" class="col-lg-10 col-md-10 col-sm-12 mt-5 p-lg-5 p-md-5 p-sm-0" (ngSubmit)="addOffre()" style="display:flex;flex-direction:column; justify-content:start ;  align-items: center;" novalidate>
        <div class="col-12 row card-header">
            <h1>Proposez un Job</h1>
        </div>
      <div class="col-12 m-2 row justify-content-center">
          <label class="col-12" for=""> Entreprise* :</label>
          <input class="form-control col-12" name="entreprise" formControlName="entreprise" type="text" value=""required>
      </div>
      <div class="col-12 m-2 row justify-content-center">
            <label class="col-12" for="poste"> Ville* :</label>
            <input class="form-control col-12" name="ville" type="text" formControlName="ville" value=""required>
        </div>
        <div class="col-12 m-2 row justify-content-center">
            <label class="col-12" for="poste"> Date* :</label>
            <input class="form-control col-12" name="date" type="date" formControlName="date" value=""required>
        </div>
      <div class="col-12 m-2 row justify-content-center">
          <label class="col-12" for="email">E-mail* :</label>
          <input class="form-control col-12" name="email" type="email" formControlName="email" id=""required>
      </div>
      <div class="col-12 m-2 row justify-content-center">
          <label class="col-12" for="tel">Tel* :</label>
          <input class="form-control col-12" name="tel" type="number" formControlName="tel" value=""required>
      </div>
      <div class="col-12 m-2 row justify-content-center">
          <label class="col-12" for="poste">Poste Proposer* :</label>
          <input class="form-control col-12" name="poste" type="text" formControlName="poste" value=""required>
      </div>
      <div class="col-12 m-2 row justify-content-center">
        <label class="col-12" for="desription">déscription Emploie* :</label>
        <textarea class="form-control col-12" name="description" formControlName="description" value=""required></textarea>
    </div>
  <p>* = champ obligatoir</p>
      <input class="buton form-control m-1" type="submit" value="Envoyer"  >
    </form>
</div>
</div>
</div>